.container .container__content .container__content__products .container__content__products--image {
    margin-top: -50px;
    max-width: 250px;
    max-height: 150px;
  }
  .containerizacion {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

  .four.columns                   { width: 30.6666666667%; }
 
  .card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

.info-card  {
    padding: 10px 20px;
}

.row {
    margin-bottom:20px;
    display:flex;
    justify-content: space-evenly;
}

.footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .footer-links {
  list-style-type: none;
  padding: 0;
}

.footer .footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer .footer-links a {
  color: white;
  text-decoration: none;
}

.footer .footer-links a:hover {
  text-decoration: underline;
}
